# Variáveis backend
APP_NAME=SAF
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
SECRET_KEY=troque_essa_chave
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Banco
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=saf_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/saf_db

# WhatsApp Service
WHATSAPP_API_URL=http://localhost:3001
WHATSAPP_TOKEN=token_interno_whatsapp
